body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background:  linear-gradient(135deg, rgba(132,45,158,1) 0%, rgba(49,94,156,1) 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

*{
  font-family: 'Abel', sans-serif;
}

.unmarkable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
